/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
/* null-style */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    font-family: 'Montserrat', sans-serif;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 20px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input:-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

/* animations */
@keyframes color-price {
    0%,100%{
        color: #fff;
        border-color: #fff;
    }
    25%{
        color: #ffdd00;
        border-color: #ffdd00;
    }
    50%{
        color: #1e38b8;
        border-color: #1e38b8;
    }
}

/*! site-page */
::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #ffaa00;
}
body::after{
    position: fixed;
    z-index: 0;
    left: 50%;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    content: '';
    width: 2px;
    height: 100%;
    background-color: #fff;
}
/* all-styles */
.container {
    max-width: 1780px;
    margin: 0 auto;
    padding: 0px 10px;
    position: relative;
    z-index: 3;
    color: #000;
}
.container__heading{
    font-size: 40px;
    font-weight: 700;
    color: #333;
    margin-bottom: 70px;
}
.section-heading{
    display: inline-block;
    font-size: 28px;
    padding-bottom: 5px;
    border-bottom: 1px solid #a5a5a5;
}
.btn{
    display: inline-block;
    background-color: transparent;
    padding: 10px 60px;
    font-size: 26px;
    border-width: 2px;
    border-style: solid;
    transition: 0.2s ease-in-out;
    color: #333;
    border-color: #333;
}
.btn:hover{
    border-color: #1e38b8;
    color: #1e38b8;
}

/* promo */
.promo{
    padding: 120px 0px;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 20px 20px rgba(34, 60, 80, 0.5);
    -moz-box-shadow: 0px 10px 20px 20px rgba(34, 60, 80, 0.5);
    box-shadow: 0px 10px 20px 20px rgba(34, 60, 80, 0.5);

}
#promoVideo{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.promo::before{
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
}
.promo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.promo__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 300;
    margin-bottom: 40px;
}
.promo__logo span {
    display: block;
    width: 20px;
    height: 1px;
    background-color: #fff;
    margin: 0px 15px;
}
.promo__logo-title {
    font-size: 35px;
    font-weight: 700;
}
.promo__title-link{
    color: #fff;
    transition: 0.2s ease-in-out;
}
.promo__title-link:hover{
    color: #ffdd00;
}
.promo__info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 40px;
    position: relative;
}
.promo__info-product {
    width: 45%;
}
.promo__info-img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.promo__info-list {
    max-width: 45%;
}
.promo__info-heading{
    margin: 0px 0px 20px -24px;
}
.promo__info-item {
    font-size: 22px;
}
.promo__info-item:not(:last-child){
    margin-bottom: 30px;
}
.promo__button{
    color: #fff;
    border-color: #fff;
}
.promo__button:hover{
    color: #ffdd00;
    border-color: #ffdd00;
}

/* composition */
.composition {
    padding: 150px 0px;
    border-bottom: 1px solid #ccc;
    background: rgb(255,221,0);
    background: linear-gradient(180deg, rgba(255,221,0,1) 0%, rgba(234,222,143,1) 39%, rgba(255,246,189,1) 66%, rgba(255,255,255,1) 100%);
}
.composition__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.composition__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.composition__product { 
    width: 20vw;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.composition__list {
    max-width: 25%;
}
.composition__list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 130px;
}
.composition__list-item:not(:last-child){
    margin-bottom: 50px;
}
.composition__item-info{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 100%;
    margin-bottom: 20px;
}
.composition__item-img{
    border-radius: 100%;
}
.composition__item-descr{
    text-align: center;
    font-weight: 300;
}
.composition__button {
    color: #333;
    border-color: #333;
}

/* comments */
.comments {
    padding: 120px 0px;
    border-bottom: 1px solid #ccc;
    background: rgb(255,221,0);
    background: linear-gradient(0deg, rgba(255,221,0,1) 0%, rgba(234,222,143,1) 39%, rgba(255,246,189,1) 66%, rgba(255,255,255,1) 100%);
}
.comments__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comments__btn{
    position: absolute;
    z-index: 10;
}
.comments__btn.disabled{
    display: none;
    opacity: 0.5;
}
.js-prev{
    left: 10px;
}
.js-next{
    right: 10px;
}
.comments__list {
    padding-top: 100px;
}
.comments__list-item {
    background-color: rgb(254, 249, 207);
    margin: 0px 5px;
    /* border: 1px solid #333; */
    border-radius: 20px;
    font-size: 23px;
    line-height: 1.5;
    text-align: center;
    cursor: grab;
    position: relative;
    overflow: hidden;
    overflow-wrap: break-word;
}
.comments__item-img {
    width: 100%;
    margin-bottom: 20px;
}
.comments__item-name {
    margin-bottom: 20px;
}
.comments__item-text {
    padding: 0px 10px 20px 10px;
}

/* promo--reverse */
.promo-reverse {
    padding: 150px 0px;
    border-bottom: 1px solid #ccc;
    background: rgb(255,221,0);
    background: linear-gradient(180deg, rgba(255,221,0,1) 0%, rgba(234,222,143,1) 39%, rgba(255,246,189,1) 66%, rgba(255,255,255,1) 100%);
}
.promo-reverse__container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: 25px;
}
.promo-reverse__info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 40px;
    padding: 20px;
}
.promo-reverse__info-product {
    width: 45%;
}
.promo-reverse__info-img {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.promo-reverse__descr {
    width: 45%;
}
.promo-reverse__descr-text {
    position: relative;
    right: -50%;
    transform: translateX(-50%);
    text-align: center;
    max-width: 70%;
    line-height: 1.5;
}
.promo-reverse__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.promo-reverse__list-item {
    text-align: center;
    border: 1px solid #ffaa00;
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 20px;
    padding: 20px;
    transition: 0.2s ease-in-out;
}
.promo-reverse__list-item:hover{
    transform: translate(2px,-2px);
    -webkit-box-shadow: -20px 20px 28px -5px rgba(34, 60, 80, 0.4);
    -moz-box-shadow: -20px 20px 28px -5px rgba(34, 60, 80, 0.4);
    box-shadow: -20px 20px 28px -5px rgba(34, 60, 80, 0.4);
}
/* form */
.order {
    position: relative;
    padding: 120px 0px;
    background: rgb(255,221,0);
    background: linear-gradient(0deg, rgba(255,221,0,1) 0%, rgba(234,222,143,1) 39%, rgba(255,246,189,1) 66%, rgba(255,255,255,1) 100%);
}

.order::before{
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
}

.order__container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: #fff;
}
.order__wrapper{
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    padding: 20px 10px;
    /* background-color: rgba(255, 255, 255, 0.053); */
}
.order__name-product{
    text-align: center;
    flex: 1 1 100%;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 20px;
}
.order__timer {
    text-align: center;
    flex: 1 1 100%;
    font-size: 30px;
    margin-bottom: 30px;
    padding: 20px;
}
.order__info {
    flex: 1 1 45%;
}
.order__info-photo {
    margin-bottom: 40px;
}
.order__info-img {
    width: 45%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.order__info-price {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.order__price-info{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
}
.order__price-info--old{
    align-self: flex-start;
    margin-bottom: 15px;
}
.order__price--old {
    position: relative;
    font-weight: 400;
    color: #333;
}
.order__price--old::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.order__price-info--new{
    align-self: flex-end;
}
.order__price--new {
    font-size: 35px;
    animation: color-price 0.6s ease-in-out infinite;
    font-weight: 400;
}
.order__form {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.order__form-heading{
    margin-bottom: 20px;
}
.order__form-label {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}
.order__form-input {
    color: #eee;
    margin-top: 10px;
    padding: 15px;
    width: 100%;
    background-color: transparent;
    border: 2px solid #fff;
    transition: 0.2s ease-in-out;
}
.order__form-input::placeholder{
    color: #eee;
    font-style: italic;
}
.order__form-input:hover,.order__form-input:focus{
    border-color: #ffdd00;
}
.order__form-btn{
    color: #fff;
    border-color: #fff;
}
.order__form-btn:hover{
    color: #ffdd00;
    border-color: #ffdd00;
}

@media screen and (max-width: 1700px) {
    .container{
        max-width: 90%;
    }
    .promo{
        padding: 20px 0px;
    }
    .promo__info-img{
        width: 40%;
    }
    .composition{
        padding: 50px 0px;
    }
    .composition__list-item{
        padding: 20px;
    }
    .comments{
        padding: 50px 0px;
    }
    .promo-reverse{
        padding: 50px 0px;
    }
    .promo-reverse__descr-text{
        max-width: 100%;
    }
    .order__price-info--new{
        align-self: flex-start;
    }
    .order__form{
        padding: 0px 10px;
    }
    .order__form-label{
        width: 100%;
    }
}
@media screen and (max-width: 1199px) {
    .container{
        max-width: 90%;
    }
    .section-heading{
        font-size: 22px;
    }
    /* .composition__product-img{
        width: 100%;
    } */
    .composition__item-img{
        max-width: 86px;
    }
    .composition__list-item:not(:last-child){
        margin-bottom: 20px;
    }
    .promo__info-item{
        font-size: 18px;
    }
    .promo__info-item:not(:last-child){
        margin-bottom: 15px;
    }
    .promo-reverse__info,.promo-reverse__list{
        justify-content: space-between;
    }
    .order__wrapper{
        width: 80%;
    }
}
@media screen and (max-width: 1023px) {
    .promo-reverse__container{
        font-size: 18px;
    }
}
@media screen and (max-width: 991px) {
    .btn{
        font-size: 18px;
        padding: 5px 30px;
    }
    .promo__logo{
        margin-bottom: 15px;
    }
    .promo__logo-title{
        margin: 0;
        font-size: 28px;
    }
    .promo__info{
        margin-bottom: 15px;
    }
    .promo__info-list{
        max-width: 55%;
    }
    .promo__info-heading{
        margin-bottom: 10px;
    }
    .composition__list-item{
        padding: 0;
    }
    .promo-reverse__container{
        font-size: 16px;
    }
    .promo-reverse__info{
        padding: 0;
    }
    .order__timer{
        padding: 0;
    }
    .countdownHolder{
        line-height: 1.5;
    }
    .digit{
        font-size: 20px;
    }
    .position{
        width: 2em;
        height: 40px;
    }
    .order__price-info{
        font-size: 20px;
    }
    .order__price--new{
        font-size: 25px;
    }
    .order__form-input{
        padding: 10px;
    }
}
@media screen and (max-width: 767px) {
    #promoVideo{
        width: inherit;
    }
    .promo__logo-title {
        font-size: 22px;
    }
    .promo__info{
        flex-direction: column;
    }
    .promo__info-product{
        width: inherit;
        margin-bottom: 10px;
    }
    .promo__info-list{
        max-width: 100%;
    }
    .promo__info-item:not(:last-child){
        margin-bottom: 7px;
    }
    .composition__product-img{
        width: 130%;
    }
    .composition__wrapper{
        flex-direction: column;
    }
    .composition__list{
        display: flex;
        max-width: 100%;
    }
    .composition__list-item:not(:last-child){
        margin-bottom: 0;
        margin-right: 10px;
    }
    .composition__item-info{
        border: 0;
    }
    .composition__item-img{
        max-width: 70%;
    }
    .composition__product{
        margin: 40px 0px;
        position: relative;
        left: 0;
        transform: translate(0);
    }
    .promo-reverse__list-item{
        padding: 5px;
    }
    .order__wrapper{
        width: 100%;
    }
    .order__info{
        flex: 1 1 100%;
        margin-bottom: 50px;
    }
    .order__price-info--new{
        align-self: flex-end;
    }
    .order__form{
        flex: 1 1 100%;
    }
}
@media screen and (max-width: 480px) {
    .container{
        max-width: 98%;
    }
    .container__heading{
        font-size: 25px;
        margin-bottom: 35px;
    }
    .btn{
        padding: 3px 6px;
    }
    .promo__logo{
        text-align: center;
        flex-direction: column;
    }
    .promo__logo span{
        width: 80%;
        margin: 10px 0px;
    }
    .promo__info{
        align-items: center;
    }
    .promo__info-heading{
        margin: 0 0 10px 0px;
        align-self: center;
    }
    .promo__info-list{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .composition__list{
        font-size: 14px;
    }
    .comments__list-item{
        font-size: 18px;
    }
    .comments__item-text{
        font-size: 14px;
    }
    .promo-reverse__info{
        flex-direction: column;
    }
    .promo-reverse__info-product,.promo-reverse__descr{
        width: 100%;
    }
    .promo-reverse__info-product{
        margin-bottom: 15px;
    }
    .promo-reverse__list{
        flex-direction: column;
    }
    .promo-reverse__list-item{
        padding: 10px;
        width: 100%;
    }
    .promo-reverse__list-item:not(:last-child){
        margin-bottom: 15px;
    }
    .order__form{
        padding: 0;
    }
    .order__price-info{
        width: 100%;
        justify-content: space-between;
    }
    .position,.digit{
        width: 25px;
        overflow: visible;
    }
    .countDiv:before, .countDiv:after{
        width: 3px;
        height: 3px;
    }
}
